# dependencies
node_modules/

# builds
dist/
build/
.next/
out/

# env files
.env
.env.*
!.env.example

# turbo
.turbo/

# misc
.DS_Store
*.pem
*.tsbuildinfo

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# testing
coverage/
.nyc_output/

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.project
.classpath
*.launch
.settings/
*.sublime-workspace

# temp
.temp
.tmp

# runtime
pids
*.pid
*.seed
*.pid.lock

# postgres data (server-nest local dev)
pgdata/

# diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
