@import "@recto/ui/globals.css";


@layer base{
  button,
  a,
  [role="button"] {
    touch-action: manipulation;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}